body{
	background: url("../img/paper.png");
}
/* Primary Header*/
h1{
	font-family: 'Nova Square', cursive;
	color:#0A0924;
}
h2,h3{
	font-family: 'Quicksand', sans-serif;
	color: #0E216C ;
}
/*Body Text*/
p{
	font-family: 'Ubuntu',sans-serif;
	color: #C0260A;
	letter-spacing: 2px;
}
/*Baseline Links*/
a:link,
a:visited{
	text-transform: uppercase;
	text-decoration: none;
	font-style: italic;
}

a:hover{
	background: #FF5952;
}
/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1{
	background: #C0260A;
}
.color-2{
	background: #0E216C;
}
.color-3{
	background: #0A0924;
}
.color-4{
	background: #93AAFF;
}
.color-5{
	background: #FF5952;
}
.pattern-1{
	background: url("../img/grey.png");
}
.pattern-2{
	background: url("../img/paper.png");
}
.pattern-3{
	background: url("../img/type.png");
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}